body{
	background-color: grey;
}


footer{
	background-color: #018ccd;
}


.img-center{
	text-align: center !important;
	display: block;
	width: 100%;
}

.carousel-item{
	height: 300px;
}



/* Aqui comienza CCS de RRSS */




/* Aqui termina CSS de RRSS*/