body{
	background-color: grey;
}


footer{
	background-color: #018ccd;
}


.img-center{
	text-align: center !important;
	display: block;
	width: 100%;
}

.col-md-3 .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-10 .col-md-11 .col-md-12 {

	margin: 10px 0;
} 

/* Aqui comienza CCS de RRSS */




/* Aqui termina CSS de RRSS*/