body{
	background-color: grey;
}


footer{
	background-color: #018ccd;
}


.img-center{
	text-align: center !important;
	display: block;
	width: 100%;
}

.carousel-item{
	height: 300px;
}

nav.navbar{
	z-index: 100;
}

nav.bg-nuevo{

	background-color: #018ccd;
}


/* Aqui comienza CCS de RRSS */




/* Aqui termina CSS de RRSS*/